@import "fn.styl"

.wid
	width:1017px;
	margin:0 auto;

.wid2
	width:1157px;
	margin:0 auto;
	.sech-box
		.top
			width 74%
		.form
			width 74%
			form
				width 66%
				input
					background #fff

.wid3
	width:1185px;
	margin:0 auto;
	.sech-box
		.top
			width 74%
		.form
			width 74%
			form
				width 66%
				input
					background #fff

.bg
	background url("../img/5c2f3_564x445.png") -50px 1500px no-repeat,
	url("../img/d7846_308x243.png") 1300px 600px no-repeat

.bg2
	background url("../img/1d1e7_1900x532.jpg") center top no-repeat

	
.sech-box
	width 100%
	margin-bottom 40px
	.top
		width 80%
		margin 0 auto
		margin-bottom 15px
		span
			position relative
			heightL(32px)
			font-size 15px
			color #6f6f6f
			padding 0 10px
			border-radius 3px
			display inline-block
			margin 0 10px
			cursor pointer
			&.acti
				color #fff
				background #ff470c
				backgroundL(#ff852c,#ff470c,top)
				&:after
					content ""
					position absolute
					bottom -4px
					left 50%
					width 0
					height 0
					border-left 4px solid transparent
					border-right 4px solid transparent
					border-top 4px solid #ff450b
					margin-left -4px
	.form
		width 80%
		margin 0 auto
		overflow hidden
		margin-bottom 30px
		form
			position relative
			width 68%
			float left
		input
			border-radius 40px
			background none
		input[type="text"]
			width 100%
			height 50px
			line-height 50px
			padding 0 120px 0 15px
			font-size 13px
			border 1px solid #ff420c
		a
			border-radius 40px
			text-align center
			heightL(42px)
			padding 0 20px
			color #fff
			font-size 18px
			display inline-block
			float left
			margin-left 12px
			&:hover
				opacity .85
			&.submit
				position absolute
				right 3px
				top 50%
				transform translateY(-50%)
				background #ff6d2a
				backgroundL(#ff6d2a,#ff420c,top)
				img
					width 19px
					height 19px
					margin-right 5px
					margin-top -3px
			&.a1
				margin-top 4px
				backgroundL(#ff6d2a,#ff420c,top)
				box-shadow 0 5px 4px rgba(#fd7745,.25)
			&.a2
				margin-top 4px
				box-shadow 0 5px 4px rgba(#fd7745,.25)
				background #ffa400
				backgroundL(#ffa500,#ff7a00,top)
	p
		font-size 15px
		color #6f6f6f
		text-align center
		line-height 1.6
		padding 0 35px
		
.list-box 
	margin-bottom 20px
	.box
		width 100%
		background #fff
		box-shadow 0 5px 27px rgba(#767676,.13)
		margin-bottom 20px
		.people-info
			width 100%
			padding 25px 30px
			border-bottom 1px solid #f5f5f5
			overflow hidden
			.pic
				float left
				width 74px
				height 74px
				border-radius 50%
				overflow hidden
				a
					public-a()
					img
						public-img()
			ul
				width 92%
				width calc(100% - 74px)
				float left
				li
					width 50%
					line-height 1.9
					font-size 15px
					color #7d8b9e
					padding-left 30px
					text-hide()
					a
						font-size 15px
						color #25c36d
						margin-right 15px
					strong
						color #fff
						background #ff702b
						font-size 13px
						font-weight normal
						border-radius 30px
						padding 3px 7px
						backgroundL(#ff702b,#ff400b,top)
					span
						img
							font-size 16px
							font-size 16px
							margin-right 3px
							margin-top -3px
		.bottom-info
			width 100%
			overflow hidden
			padding 20px 135px
			.box2
				width 100%
				ul
					width 74%
					float left
					li
						width 100%
						line-height 1.9
						font-size 15px
						color #7d8b9e
						span
							color #25c36d
						var
							color #7d8b9e
						i
							font-size 14px
							color #a4aec4
							border-radius 40px
							padding 0 14px
							height 24px
							line-height 22px
							display inline-block
							margin-top 10px
							border 1px solid #a4aec4
				strong
					font-size 15px
					line-height 18px
					color #ff5f20
					background url("../img/cdfc3_18x18.png") left top no-repeat
					padding-left 28px
					float left
					padding-top 2px
					font-weight normal
					margin-left 40px
					cursor pointer
					
.paga
	clear both
	text-align center
	margin-bottom 40px
	a
		heightL(44px)
		background #fff
		border-radius 5px
		font-size 15px
		color #7c8e9d
		padding 0 18px
		display inline-block
		margin 0 6px
		transition .3s
		box-shadow 0 6px 11px rgba(#b4b4b4,.15)
		&:hover
			color #fff
			background #11bf89
			box-shadow 0 6px 11px rgba(#69f55e,.25)
		&.acti
			color #fff
			background #11bf89
			box-shadow 0 6px 11px rgba(#69f55e,.25)
			
		// &.prev
		// &.next
			
.footer
	width 100%
	padding 35px 0
	background #363444
	clear both
	p
		font-size 13px
		color #979bb9
		line-height 1.9
		a		
			color #979bb9
			&:hover
				text-decoration underline
	.link
		border-top 1px solid #454456
		padding-top 20px
		line-height 1.4
		color #979bb9
		margin-top 15px
		font-size 13px
		a		
			color #979bb9
			&:hover
				text-decoration underline		
			
.path
	font-size 13px
	color #5d6988
	line-height 1.6
	clear both
	margin-bottom 15px
	a
		color #5d6988
		&:hover
			text-decoration underline

.article
	width 74%
	float left
	background #fff
	margin-bottom 15px
	box-shadow 0 5px 27px rgba(#767676,.13)
	.title
		width 100%
		min-height 135px
		padding 15px 26px
		color #fff
		line-height 1.4
		margin-bottom 20px
		background url("../img/1376e_881x135.jpg") #1bbe7e center top
		span
			display block
			margin-bottom 10px
		h2
			font-size 25px
			font-weight normal
			margin-bottom 8px
			clear both
		em
			width 74%
			float left
			font-size 13px
		var
			font-size 13px
			background url("../img/c1b63_16x11.png") left center no-repeat
			padding-left 22px
	.pic
		width 96%
		max-height 577px
		overflow hidden
		margin 0 auto 25px
		img
			width 100%
	.text
		width 96%
		margin 0 auto
		strong
			font-size 18px
			color #22be77
			font-weight normal
			line-height 24px
			padding-left 10px
			display block
			margin-bottom 20px
			border-left 3px solid #22be77
		p
			font-size 15px
			color #6a6969
			line-height 1.7
			margin-bottom 25px
			
.sidebar
	float right
	width 24%
	box-shadow 0 5px 27px rgba(#767676,.13)

.news-books
	width 100%
	heightL(48px)
	background #f4f4f4
	padding 0 15px
	span
		float left
		font-size 14px
		color #363636
		width 76%
		text-hide()
	a
		float right
		font-size 13px
		color #7c8e9d
		&:hover
			text-decoration underline

.books
	width 100%
	background #fff
	padding 12px
	overflow hidden
	ul
		li
			position relative
			width 100%
			height 250px
			overflow hidden
			margin-bottom 10px
			&:hover
				img
					transform scale(1.1)
					opacity .85
			a
				public-a()
				img
					public-img()
					transition .3s
				span
					position absolute
					bottom 0
					left 0
					width 100%
					heightL(36px)
					color #fff
					background rgba(#000,.45)
					font-size 16px
					text-align center
					text-hide()

.books-list
	width 100%
	background #fff
	padding 12px
	overflow hidden
	ul
		li
			width 100%
			padding 12px 0
			border-bottom 1px dashed #eeeeee
			&:last-child
				border-bottom none
			span
				width 20px
				height 20px
				line-height 20px
				background #22be77
				text-align center
				color #fff
				font-size 14px
				text-hide()
				float left
			a
				width 87%
				float right
				font-size 14px
				color #282828
				line-height 20px
				text-hide()
				&:hover
					text-decoration underline
					color #22be77

.sidebar-paga
	clear both
	width 100%
	background #fff
	padding 15px 20px
	overflow hidden
	margin-bottom 45px
	box-shadow 0 2px 20px rgba(#1063ec,.1)
	ul
		li
			position relative
			width 49%
			height 83px
			color #fff
			line-height 1.4
			a
				public-a()
				color #fff
				padding 12px 15px
			&.fl
				background url("../img/3d707_563x83.jpg") center top
				var
					bottom 12px
			&.fr
				background url("../img/3d707_563x83.jpg") center top
				var
					top 22px
			strong
				width 90%
				float left
				font-size 16px
				display block
				margin-bottom 15px
			p
				width 90%
				float left
				font-size 13px
			var
				position absolute
				right 10px

.sidebar-people
	position relative
	float left
	width 30%
	background #fff
	box-shadow 0 2px 11px rgba(#d3d3d3,.26)
	padding 25px 2%
	i	
		position absolute
		top 0
		left 0
		backgroundL(#18b29d,#18b27e,top)
		font-size 15px
		color #fff
		padding 0 25px 0 12px
		heightL(28px)
		border-radius 0 0 30px 0
		box-shadow 0 3px 6px rgba(#18b295,.13)
		cursor pointer
	.top-box
		.round
			text-align center
			.pic
				width 97px
				height 97px
				border-radius 50%
				overflow hidden
				margin 0 auto
				box-shadow 0 5px 4px rgba(#fd7745,.23)
				img
					public-img()
			span
				heightL(26px)
				color #fff
				font-size 15px
				padding 0 18px
				background #ff5c1f
				border-radius 30px
				display inline-block
				margin-top -10px
				box-shadow 0 5px 4px rgba(#fd7745,.23)
			strong
				font-size 20px
				color #363636
				font-weight normal
				line-height 1.4
				display block
				padding-top 15px
		.btns
			text-align center
			background #f6fcfb
			padding 30px 0 10px
			overflow hidden
			margin-bottom 40px
			a
				heightL(30px)
				border-radius 30px
				display inline-block
				text-align center
				font-size 15px
				color #fff
				padding 0 15px
				background #18b29d
				backgroundL(#18b29d,#18b27e,top)
				&.fl
					margin-left 5%
				&.fr
					margin-right 5%
				&:hover
					opacity .85
				img
					width 18px
					height 16px
					margin-right 3px
	.text
		width 100%
		overflow hidden
		ul
			li
				width 100%
				line-height 1.6
				font-size 15px
				margin-bottom 15px
				span
					width calc(100% - 75px)
					float right
					color #7d8b9e
					img
						margin-top -2px
						width 16px
						height 16px
						margin-right 3px
				var
					width 75px
					color #363636
					float left
					text-hide()

.right-content
	width 68%
	float right
	margin-bottom 50px
	.add-jl
		width 100%
		background #fff
		margin-bottom 20px
		box-shadow 0 2px 11px rgba(#d3d3d3,26)
		.top
			width 100%
			heightL(52px)
			backgroundL(#18b29c,#18b279,top)
			color #fff
			padding 0 15px
			strong
				font-size 16px
				font-weight normal
				float left
			span
				float right
				font-size 14px
				border-radius 30px
				padding 0 10px 0 33px
				height 24px
				line-height 22px
				background url("../img/ca7f0_15x15.png") 12px 48% no-repeat
				border 1px solid #fff
				cursor pointer
				margin-top 15px
				&.s1
					background url("../img/79e8c_15x15.png") 12px 52% no-repeat
				&.s2
					margin-right 10px	
	.exper
		width 92%
		margin 0 auto
		overflow hidden
		padding 20px 0
		border-bottom 1px solid #f5f5f5
		.left
			width 80%
			float left
			font-size 15px
			line-height 1.6
			span
				position relative
				float left
				color #363636
				padding-left 8px
				width 85px
				text-hide()
				&:before
					content ""
					position absolute
					top 50%
					left 0
					width 2px
					height 10px
					background #18b19c
					margin-top -5px
			p
				width calc(100% - 85px)
				color #7d8b9e
				float right
		.pics
			width 121px
			height 126px
			float right
			background url("../img/1eea4_121x126.png") no-repeat
			cursor pointer
	.people-label
		width 92%
		margin 0 auto
		overflow hidden
		padding 20px 0
		span
			position relative
			width 85px
			color #363636
			padding-left 8px
			text-hide()
			&:before
				content ""
				position absolute
				top 50%
				left 0
				width 2px
				height 10px
				background #18b19c
				margin-top -5px
		.right
			float right
			width calc(100% - 85px)
			var
				height 24px
				line-height 23px
				border-radius 30px
				font-size 14px
				color #a4aec4
				padding 0 14px
				margin 0 10px 15px 0
				float left
				border 1px solid #a4aec4
				cursor pointer
				&.acti
					background #18b29d
					color #fff
					backgroundL(#18b29d,#18b279,top)
	.bad-info
		width 100%
		background #fff
		box-shadow 0 2px 11px rgba(#d3d3d3,1)
		margin-bottom 20px
		.tabs
			width 100%
			heightL(54px)
			span
				float left
				padding 0 32px
				font-size 15px
				color #7d8b9e
				border-right 1px solid #f0efef
				cursor pointer
				&.acti
					color #fff
					background #18b29c
					backgroundL(#18b29c,#18b278,top)
	.item-box
		.item
			width 100%
			border 1px solid #18b29b
			.box
				width 100%
				padding 0 3%
				height 350px
				overflow-y auto 
				ul
					li
						width 100%
						line-height 1.6
						padding 16px 0
						border-bottom 1px solid #f5f5f5
						span
							position relative
							width 88px
							color #363636
							padding-left 8px
							float left
							text-hide()
							font-size 15px
							&:before
								content ""
								position absolute
								top 50%
								left 0
								width 2px
								height 10px
								background #18b19c
								margin-top -5px
											
						p
							float right
							width calc(100% - 88px)
							font-size 15px
							color #7d8b9e
							img
								width 16px
								height 16px
								margin-top -3px
								margin-right 3px
			.box2
				width 100%
				padding 0 3%
				height 350px
				overflow-y auto 
				ul
					li
						width 100%
						line-height 1.6
						padding 16px 0
						border-bottom 1px solid #f5f5f5
						p
							width 80%
							position relative
							float left
							font-size 15px
							color #7d8b9e
							line-height 1.7
							padding-left 10px
							&:before
								content ""
								position absolute
								top 10px
								left 0
								width 2px
								height 10px
								background #18b19c
							img
								width 16px
								height 16px
								margin-top -3px
								margin-right 3px
						.btns
							width 19%
							float right
							text-align right
							span
								height 24px
								line-height 24px
								border-radius 30px
								font-size 14px
								color #7d8b9e
								padding 0 13px
								display inline-block
								cursor pointer
								border 1px solid #ced9ee
								margin-bottom 5px
							var
								height 24px
								line-height 24px
								border-radius 30px
								font-size 14px
								color #ff420c
								padding 0 13px 0 38px
								display inline-block
								cursor pointer
								background url("../img/7ddf5_15x15.png") 18px center no-repeat

								border 1px solid #ff420c
			.box3
				width 100%
				padding 0 3%
				height 350px
				overflow-y auto 
				ul
					li
						position relative
						width 100%
						line-height 1.6
						padding 16px 0
						border-bottom 1px solid #f5f5f5
						font-size 15px
						color #7d8b9e
						line-height 1.7
						padding-left 10px
						&:before
							content ""
							position absolute
							top 24px
							left 0
							width 2px
							height 10px
							background #18b19c
	.comment-box
		width 100%
		background #fff
		box-shadow 0 2px 11px rgba(#d3d3d3,26)
		padding 20px 3% 30px
		.title
			line-height 1.4
			margin-bottom 20px
			h3
				position relative
				font-size 15px
				color #363636
				margin-bottom 5px
				font-weight normal
				padding-left 10px
				&:before
					content ""
					position absolute
					top 50%
					left 0
					width 2px
					height 10px
					background #18b19c
					margin-top -5px
			p
				font-size 15px
				color #7d8b9e
		textarea
			width 100%
			height 185px
			border-radius 3px
			font-size 15px
			padding 10px
			line-height 1.4
			border 1px solid #18b296
			display block
			margin-bottom 20px
			box-shadow 0 2px 11px rgba(#d3d3d3,.26)
			appearance none
		button
			width 154px
			heightL(42px)
			font-size 18px
			color #fff
			display block
			margin 0 auto
			border-radius 30px
			backgroundL(#18b29a,#18b279,top)
			&:hover
				opacity .85
	
.pup
	position fixed
	z-index 10
	top 0
	left 0
	width 100%
	height 100%
	background rgba(#000,.35)
	display none
	.box
		position relative
		width 85%
		max-width 1200px
		margin 120px auto 0
		display table
		em
			position absolute
			right 0
			top 0
			width 60px
			height 60px
			cursor pointer
			transform translate(50%,-46%)
			background url("../img/ad4d1_70x70.png") no-repeat
			background-size 100%
		i
			position absolute
			top 50%
			width 22px
			height 38px
			margin-top -19px
			cursor pointer
			&.prev
				left -94px
				background url("../img/239f9_22x38.png") no-repeat
			&.next
				right -94px
				background url("../img/269b6_22x38.png") no-repeat
		.left
			width 70%
			height 750px
			background #fff
			float left
			overflow hidden
			img
				public-img()
		.right
			width 29%
			height 750px
			background #fff
			float right
			padding 20px
			ul
				li
					width 49%
					height 120px
					margin-bottom 20px
					background url("../img/0587c_120x120.jpg") #d2d2d2 center center no-repeat
					background-size 100%
					cursor pointer
					overflow hidden
					border 1px solid #fff
					&.acti
						border 1px solid #04bf96
					&:nth-child(even)
						float right
					img
						public-img()

.up-box
	position relative
	width 100%
	height 406px
	background url("../img/de507_1927x406.jpg") center top
	.up-text
		text-align center
		color #fff
		line-height 1.4
		margin-bottom 30px
		h2
			font-size 45px
			font-weight normal
		h3
			font-size 15px
			font-weight normal
			a
				color #fff
				text-decoration underline
	.sech-box
		.top
			span
				color #fff
		.form
			form
				input
					border 1px solid #fff
	.bottom-text
		position absolute
		bottom 0
		left 0
		width 100%
		height 32px
		line-height 32px
		font-size 14px
		color #fff
		background rgba(#00a485,.4)
		text-align center
		span
			display inline-block
			margin 0 24px
			i
				color #f5f914
			
.header
	position relative
	width 100%
	height 50px
	padding 0 5%
	margin-bottom 45px
	background url("../img/28e5a_1920x51.jpg")
	h1
		float left
		height 50px
		a
			public-a()
			img		
				width 100px
				height 31px
				margin-top 9px
	.nav
		float left
		margin-left 30px
		line-height 50px
		ul
			li
				position relative
				margin-right 20px
				&:hover
					.drop-down
						display block
				a
					position relative
					font-size 14px
					color #fff
					display block
					&.a_more
						background url("../img/e973f_7x5.png") right center no-repeat
						padding-right 14px
					em
						position absolute
						top 15px
						right -10px
						width 7px
						height 7px
						background #ff7709
						border-radius 50%
						display block
					span
						position relative
						top 2px
						width 34px
						height 15px
						display inline-block
						margin-left 5px
						background url("../img/d9c32_34x15.png") no-repeat
				.drop-down
					position absolute
					z-index 2
					top 100%
					left -40px
					width 130px
					background #fff
					border-radius 3px
					box-shadow 0 8px 28px rgba(#dcdcdc,.3)
					display none
					&:after
						content ""
						position absolute
						top 0
						left 50%
						width 0
						height 0
						border-left 5px solid transparent
						border-right 5px solid transparent
						border-bottom 4px solid #fff
						margin-left -5px
						margin-top -4px
					a
						font-size 14px
						color #7a7a7a
						padding 0 15px
						line-height 34px
						border-bottom 1px solid #fafafa
						&:last-child
							border-radius 0 0 3px 3px
						&:hover
							background #fafafa
	.right
		float right
		.vip
			heightL(32px)
			border-radius 30px
			margin 9px 8px 0
			backgroundL(#ff832c,#ff3f07,top)
			font-size 15px
			color #fff
			width 111px
			text-hide()
			text-align center
			float left
		.a_loggin
			heightL(32px)
			border-radius 30px
			margin 9px 8px 0
			backgroundL(#ff832c,#ff3f07,top)
			font-size 15px
			color #fff
			width 111px
			text-hide()
			text-align center
			float left
			&:hover
				background #ff832c
		.integral
			heightL(32px)
			border-radius 30px
			margin 9px 8px 0
			backgroundL(#ffa600,#ff7c00,top)
			font-size 15px
			color #fff
			width 111px
			text-hide()
			text-align center
			float left
			margin-right 12px
		.mymsg
			position relative
			font-size 14px
			color #fff
			background url("../img/88c09_18x17.png") left center no-repeat
			padding-left 25px
			line-height 50px
			i
				position absolute
				right -10px
				top -4px
				font-size 12px
				color #fff
				background #ff7709
				border-radius 50%
				width 12px
				height 12px
				text-align center
				line-height 12px
				text-hide()
		.psl-center
			position relative
			float right
			color #fff
			margin-left 5px
			var
				font-size 14px
				color #fff
				line-height 50px
				margin 0 8px 0 14px
				float left
			.drop-box2
				position absolute
				z-index 3
				top 100%
				left 0
				width 230px
				border-radius 5px
				box-shadow 0 0 15px rgba(#000,.2)
				background #fff
				text-align center
				background #fff
				display none
				.top-zh
					padding 0 5%
					line-height 40px
					height 40px
					background #fafafa
					span
						float left
						font-size 14px
						color #505050
						width 80%
						text-hide()
						text-align left
					a
						font-size 14px
						color #7a7a7a
						float right
						transition .3s
						&:hover
							color #ff9720
						
				.ct
					width 100%
					padding 15px 5% 0
					text-align left
					p
						font-size 13px
						color #5d5d5d
						line-height 1.4
						margin-bottom 15px
						i
							color #3667f8
						em
							color #acacac
						b
							color #ff7709
							font-weight normal
						a
							float right
							color #c7216b
							&:hover
								text-decoration underline
			// .down
			// 	position absolute
			// 	z-index 2
			// 	top 99%
			// 	left 50px
			// 	width 130px
			// 	background #fff
			// 	border-radius 3px
			// 	box-shadow 0 8px 28px rgba(#dcdcdc,.3)
			// 	display none
			// 	&:after
			// 		content ""
			// 		position absolute
			// 		top 0
			// 		left 50%
			// 		width 0
			// 		height 0
			// 		border-left 5px solid transparent
			// 		border-right 5px solid transparent
			// 		border-bottom 4px solid #fff
			// 		margin-left -5px
			// 		margin-top -4px
			// 	em
			// 		width 100%
			// 		heightL(38px)
			// 		font-size 14px
			// 		color #7a7a7a
			// 		display block
			// 		text-align center
			// 		cursor pointer
			// 		img
			// 			width 14px
			// 			height 14px
			// 			margin-right 10px
			// 		&:hover
			// 			background #fafafa
		.user-phone
			position relative
			font-size 14px
			color #fff
			line-height 50px
			padding 0 12px
			span
				padding-right 20px
				margin-right 5px
				background url("../img/e973f_7x5.png") 94% center no-repeat
			i
				position relative
				top 4px
				width 16px
				height 14px
				display inline-block
				background url("../img/086a1_16x14.png") no-repeat
			&:before
				content ""
				position absolute
				top 50%
				left 0
				width 1px
				height 18px
				background #fff
				margin-top -9px
	
.news-tip
	width 100%
	height 80px
	line-height 80px
	.box
		position relative
		width 43%
		height 80px
		background url("../img/6d032_18x17.png") left center no-repeat
		padding-left 30px
		overflow hidden
		margin-left 7%
		ul
			li
				position absolute
				width 100%
				a
					font-size 15px
					color #afb1c3
					&:hover
						text-decoration underline

.public-title
	text-align center
	clear both
	line-height 1.4
	margin-bottom 60px
	b
		font-weight normal
		display block
		font-size 30px
		color #363636
	p
		font-size 15px
		color #757a9f
		margin-top 10px

.install-box
	background #fbfbfb
	padding 45px 0
	.box
		width 100%
		overflow hidden
		padding-bottom 10px
		margin-bottom 50px
		ul
			li
				width 25%
				text-align center
				padding-bottom 40px
				border-radius 8px
				transition .3s
				&:hover
					background #fff
					box-shadow 0 5px 9px rgba(#02bf98,.05)
				.pic
					width 100%
					height 150px
					display table
					i
						display table-cell
						height 100%
						vertical-align middle
						img
							vertical-align middle
				.text
					width 100%
					padding 0 15px
					line-height 1.4
					strong
						position relative
						font-size 15px
						color #404372
						margin-bottom 35px
						display block
						&:after
							content ""
							position absolute
							bottom -14px
							left 50%
							width 18px
							height 3px
							margin-left -9px
							background #b9bdda
					p
						font-size 15px
						color #757a9f
	.a_install
		width 214px
		heightL(54px)
		border-radius 30px
		display block
		margin 0 auto
		color #fff
		text-align center
		font-size 19px
		letter-spacing 1px
		background #23be76
		backgroundL(#22be77,#02bf97,top)
		&:hover
			opacity .85

.news-buyer
	width 100%
	padding 45px 0 220px
	background url("../img/7f264_1920x934.jpg") center 340px no-repeat
	.box-list
		width 100%
		overflow hidden
		ul
			margin-left -2%
			li
				width 23%
				margin-left 2%
				background #fff
				border-radius 3px
				box-shadow 0 0 10px rgba(#22be77,.1)
				h4
					heightL(44px)
					font-weight normal
					text-align center
					font-size 15px
					color #363636
					text-hide()
					border-bottom 1px solid #f1f1f1
					border-top 3px solid #22be77
					margin-bottom 15px
				p
					line-height 18px
					padding 0 20px
					width 100%
					overflow hidden
					margin-bottom 15px
					&:first-of-type
						span
							background #ffd700
					&:nth-of-type(2)
						span
							background #b6c2d2
					&:nth-of-type(3)
						span
							background #f0c88a
					a
						width 70%
						font-size 15px
						color #757a9f
						float left
						text-hide()
						&:hover
							text-decoration underline
					span
						width 26px
						height 18px
						line-height 18px
						text-align center
						font-size 14px
						color #fff
						background #d1dade
						border-radius 3px
						float right
	.buyer-fx
		width 100%
		overflow hidden
		padding-top 80px
		h5
			text-align center
			color #fff
			font-size 30px
			font-weight normal
			line-height 1.4
			margin-bottom 60px
		.two-box
			width 49%
			height 345px
			border-radius 5px
			background #fff
			strong
				width 100%
				heightL(36px)
				padding 0 24px
				padding-left 12px
				color #fff
				font-weight normal
				display block
				border-bottom 1px solid #f1f1f1
				span
					position relative
					font-size 15px
					color #363636
					padding-left 12px
					&:before
						content ""
						position absolute
						top 50%
						left 0
						width 2px
						height 20px
						background #fc8b15
						margin-top -9px

.alliance
	margin-top -30px
	padding-bottom 110px
	overflow hidden
	.big-pic
		width 50%
		height 404px
		float left
		overflow hidden
		img
			width 100%
	.list
		width 40%
		float right
		padding-top 40px
		ul
			li
				width 370px
				height 82px
				background #fff
				border-radius 10px
				padding 8px
				margin-bottom 30px
				box-shadow 0 2px 28px rgba(#bdbdbd,.22)
				.pic
					width 68px
					height 69px
					float left
					overflow hidden
					img
						public-img()
				.text
					width calc(100% - 100px)
					float right
					line-height 1.4
					strong
						font-size 15px
						color #363636
						display block
						margin-bottom 5px
						img
							width 17px
							height 17px
							margin-top -2px
					b
						font-size 30px
						color #404372
						font-weight normal

.a_news
	heightL(32px)
	color #fff
	font-size 15px
	display block
	margin 0 auto 20px
	width 90px
	padding 0 14px
	text-align center
	text-hide()
	border-radius 10px 0 10px 0
	backgroundL(#4fd380,#62d899,top)
	&:hover
		opacity .85
		
.news-box
	padding 50px 0 70px
	background #fbfbfb
	overflow hidden
	.box
		width 49%
		min-height 466px
		border-radius 5px
		background #fff
		overflow hidden
		padding-bottom 10px
		box-shadow 0 5px 14px rgba(#a9a8a8,.1)
		h5
			width 100%
			heightL(36px)
			padding 0 24px
			padding-left 12px
			color #fff
			font-weight normal
			display block
			border-bottom 1px solid #f1f1f1
			span
				position relative
				font-size 15px
				color #363636
				padding-left 12px
				&:before
					content ""
					position absolute
					top 50%
					left 0
					width 2px
					height 20px
					background #fc8b15
					margin-top -9px
			a
				float right
				font-size 15px
				color #afb1c3
				&:hover
					text-decoration underline
		&.fl
			ul
				width 100%
				padding 0 20px
				overflow hidden
			li
				width 100%
				padding 20px 0
				border-bottom 1px solid #f7f7f7
				&:hover
					.text
						strong
							color #757a9f
				.pic
					width 90px
					height 64px
					background #cdcdcd
					overflow hidden
					float left
					img
						public-img()
				.text
					width calc(100% - 110px)
					float right
					line-height 1.4
					strong
						font-size 15px
						color #363636
						display block
						font-weight normal
						text-hide()
						margin-bottom 5px
						transition .3s
					p
						font-size 14px
						color #a7a7a7
						db-text(2)
		&.fr
			ul
				width 100%
				padding 0 20px
				overflow hidden
				li
					position relative
					width 100%
					padding 20px 30px
					border-bottom 1px solid #f7f7f7
					&:before
						content ""
						position absolute
						top 50%
						left 6px
						width 6px
						height 6px
						background #fc8b15
						border-radius 50%
						margin-top -3px
					a
						float left
						width 99%
						font-size 15px
						color #363636
						line-height 1.6
						text-hide()
						&:hover
							text-decoration underline
							color #757a9f
					
.idea
	width 100%
	height 221px
	background url("../img/66f16_1920x221.jpg") center top no-repeat
	.box
		width 100%
		height 211px
		display table
		.text
			display table-cell
			height 100%
			color #fff
			line-height 1.4
			text-align center
			vertical-align middle
			b
				font-size 30px
				font-weight normal
				display block
				margin-bottom 15px
			p
				font-size 20px
				margin-bottom 15px
			a
				width 265px
				heightL(48px)
				display block
				margin 0 auto
				background #fd6339
				backgroundL(#fd6339,#ec5552,top)
				font-size 20px
				color #fff
				border-radius 30px
				text-align center
				&:hover
					background #fd6339

.tj-pic
	width 260px
	height 538px
	border-radius 30px
	background #fff
	box-shadow 0 0 29px rgba(#a9bbb4,.5)
	padding 10px
	margin 80px auto 0
	display none
	.box
		width 100%
		height 513px
		padding 85px 25px
		background url("../img/dfb6e_237x513.png") no-repeat
		b
			width 105px
			height 35px
			display block
			margin 0 auto 25px
			overflow hidden
			img
				width 100%
		.qr-code
			width 155px
			height 155px
			margin 0 auto 10px
			overflow hidden
			img
				public-img()
		strong
			font-size 20px
			color #fff2aa
			line-height 1.4
			display block
			margin-bottom 40px
			font-weight normal
			text-align center
		p
			font-size 20px
			line-height 1.4
			color #fff
			text-align center

.conment-text
	width 100%
	padding 20px 0
	border-bottom 1px dashed #c9c9c9
	overflow hidden
	margin-bottom 20px
	.left
		float left
		width 88%
		.pic
			width 54px
			height 54px
			border-radius 50%
			overflow hidden
			float left
			margin-right 15px
			a
				public-a()
				img
					public-img()
		.text
			float left
			width calc(100% - 70px)
			line-height 1.6
			strong
				font-size 16px
				color #4e5e67
				font-weight normal
			span
				font-size 12px
				color #8b878c
				margin-left 5px
			p
				font-size 14px
				color #706d68
	var
		float right
		font-size 14px
		color #4270b7
		cursor pointer
		height 26px
		line-height 26px
		background url("../img/7d0fa_23x20.jpg") left center no-repeat
		padding-left 26px


/*0322样式*/

.header
	&.mb
		margin-bottom 0

.down-box
	width 100%
	min-height 529px
	overflow hidden
	padding 80px 0 20px
	background url("../img/309d3_1927x529.jpg") center top
	.pic
		float left
		width 49%
		height 395px
		overflow hidden
		border-radius 3px
		box-shadow 0 3px 38px rgba(#0bd294,.42)
		img
			public-img()
	.text
		width 48%
		float right
		color #fff
		line-height 1.6
		b
			font-size 38px
			display block
			font-weight normal
			margin-bottom 15px
		ul
			width 100%
			overflow hidden
			margin-bottom 20px
			li
				width 48%
				margin-bottom 10px
				heightL(50px)
				background url("../img/98085_21x15.png") #fff 20px center no-repeat
				padding 0 4% 0 9% 
				color #ff7523
				font-size 16px
				border-left 3px solid #ff7523
				&:nth-child(even)
					float right
				span
					float left
					width 80%
					text-hide()
					color #ff7523
				var
					float right
					color #ff7523
		p
			font-size 15px
			clear both
			a
				color #f6ff6e
				&:hover
					text-decoration underline

.public-title2
	text-align center
	line-height 1.8
	margin-bottom 60px
	&.pt2
		b
			color #22be77
	b
		position relative
		font-size 30px
		color #363636
		display block
		font-weight normal
		margin-bottom 25px
		letter-spacing 3px
		&:before
			content ""
			position absolute
			bottom -10px
			left 50%
			width 44px
			height 2px
			background #24be75
			margin-left -22px
	p
		font-size 16px
		color #6f6f6f

.install-show
	padding 40px 0
	.btns
		text-align center
		margin-bottom 40px
		text-align center
		a
			heightL(54px)
			border-radius 30px
			text-align center
			font-size 16px
			color #fff
			padding 0 35px
			margin 0 12px
			display inline-block
			box-shadow 0 9px 16px rgba(#0ebf8b,.17)
			&:hover
				opacity .85
			&.a1
				background #ff802a
				backgroundL(#ff802a,#ff3e07,top)
			&.a2
				background #02bf97
				backgroundL(#02bf97,#21be77,top)
			&.a3
				background #4b88fd
				backgroundL(#4b88fd,#2b6ceb,top)
	.box
		width 100%
		height 545px
		overflow hidden
		background #fff
		border-radius 3px
		box-shadow 0 5px 35px rgba(#02bf98,.13)
		.left
			width 25%
			height 100%
			background #3ccb9a
			float left			
			strong	
				position relative
				heightL(64px)
				text-align center
				font-size 20px
				color #fff
				text-hide()
				background #42c185			
				display block
				margin-bottom 25px
			p
				width 85%
				font-size 16px
				color #fff
				line-height 1.6
				margin 0 auto 30px
		.right
			width 75%
			height 100%
			float right
			overflow hidden
			video
				width 100%
				height 100%
				background url("../img/d211d_1000x500.jpg") center center no-repeat

.method-box
	width 100%
	height 875px
	padding-top 120px
	background url("../img/af2c8_1920x875.jpg") center top no-repeat
	.box
		position relative
		width 100%
		margin-bottom 55px
	.swiper-wrapper
		border-radius 5px	
		text-align center
		height 322px
	.swiper-button-next
		width 22px
		height 38px
		right -40px
		background url("../img/a344b_22x38.png") no-repeat
		outline none
	.swiper-button-prev
		width 22px
		height 38px
		left -40px
		background url("../img/1c141_22x38.png") no-repeat
		outline none
	.swiper-slide
		img
			width 1050px
			height 332px
			box-shadow 0 5px 35px rgba(#02bf98,.13)
	.a_az
		width 214px
		border-radius 30px
		text-align center
		font-size 19px
		margin 0 auto
		heightL(54px)
		display block
		color #fff
		background #21be77
		backgroundL(#21be77,#04bf96,top)
		&:hover
			opacity .85

.updata-box
	overflow hidden
	padding-bottom 50px
	.box
		position relative
		width 100%
		padding-top 50px
		&:after
			content ""
			position absolute
			left 23%
			top 7px
			width 28px
			height 28px
			background url("../img/beaf5_28x28.png") no-repeat
		ul
			li
				position relative
				width 100%
				padding 20px 0
				&:first-child
					&:after
						content ""
						position absolute
						left 24%
						top -16px
						width 1px
						height 100%
						background #18c18a
						display block
				&:last-child
					&:before
						display none
				&:before
					content ""
					position absolute
					left 24%
					top 40%
					width 1px
					height 100%
					background #18c18a
					display block
				.date
					width 22%
					float left
					font-size 15px
					line-height 1.2
					text-align right
					span
						color #737373
						display block
					var
						color #c3c3c3
				p
					position relative
					width calc(100% - 26%)
					float right
					font-size 20px
					color #737373
					line-height 36px
					&:before
						content ""
						position absolute
						z-index 2
						top 10px
						left -29px
						width 13px
						height 13px
						background url("../img/0c0e1_13x13.png") no-repeat

.bg3
	background #fafafa
	
.bg4
	background url("../img/00b8c_1920x811.jpg") center 50px no-repeat

.wid4
	width 1350px
	margin 0 auto

#sidebar-menu
	width 19%
	height 1245px
	float left
	background #fff
	box-shadow 0 0 49px rgba(#e6eaf3,.55)

.sidebar-box
	float left
	background #fff
	width 19%
	min-height 1280px
	overflow-y hidden
	box-shadow 0 0 49px rgba(#e6eaf3,.55)
	.sidebar-logo
		width 100%
		height 60px
		overflow hidden
		a
			public-a()
			img
				public-img()
	.box
		width 100%
		overflow hidden
		.title
			width 100%
			font-size 17px
			color #18b278
			padding-left 20%
			heightL(48px)
			margin-top 3px
			box-shadow 0 0 20px rgba(#f0f2f7)
			&.st1
				background url("../img/f6b3a_21x16.png") 25px center no-repeat
			&.st2
				background url("../img/39732_17x17.png") 25px center no-repeat
			&.st3
				background url("../img/3bfe7_18x17.png") 25px center no-repeat
			&.st4
				background url("../img/54033_17x17.png") 25px center no-repeat
		ul
			width 100%
			overflow hidden
			li
				width 100%
				transition .3s
				&.acti
					a
						background #f0f2f8
						border-color #0dbf8c
				&:hover
					a
						background #f0f2f8
						border-color #0dbf8c
				a
					display block
					font-size 14px
					color #676767
					padding 12px 6% 12px 19%
					line-height 20px
					transition .3s
					border-left 2px solid #fff
					span
						float right
						background #ff5d22
						border-radius 5px
						color #fff
						font-size 12px
						heightL(20px)
						padding 0 7px

.content-box
	width 80%
	float right
	margin-bottom 70px
	box-shadow 0 0 49px rgba(#e6eaf3,.55)
	.big-box
		padding-bottom 20px
		background #fff
		margin-bottom 12px
		&:last-child
			margin-bottom 0
		.updata-box
			width 90%
			padding-top 50px
			.box
				&:after
					left 16.6%
			ul
				li
					&:last-child
						&:before
							display none
					&:first-child
						&:after
							left 18%
					.date
						width 15%
					p
						width calc(100% - 20%)
						&:before
							left -26px
					&:before
						content ""
						position absolute
						left 18%
						top 38%
						width 1px
						height 100%
						background #18c18a
						display block
	.public-top
		width 100%
		heightL(60px)
		background #fff
		font-size 15px
		color #848484
		padding 0 3%
		margin-bottom 10px
		overflow hidden
		strong
			font-size 17px
			color #18b278
			font-weight normal
			&.st1
				var
					color #848484
			var
				font-size 14px
				color #ff5b20
				font-weight normal
			i
				font-size 17px
				color #ff5b20
				font-weight normal
				margin-left 3px
		span
			float right
			font-size 12px
			color #fff
			border-radius 5px
			heightL(20px)
			background #ff5b20
			padding 0 8px
			margin-top 20px
			cursor pointer
			a
				color #fff
		b
			font-size 12px
			color #fff
			border-radius 5px
			heightL(20px)
			background #ff5b20
			padding 0 8px
			display inline-block
			font-weight normal
			margin-left 15px		
	.public-box
		position relative
		width 100%
		background #fff
		overflow hidden
		padding 15px 5%
		strong
			font-size 15px
			color #1f1f1f
			line-height 20px
			font-weight normal
			margin-bottom 15px
			display block
			b
				font-size 15px
				color #fff
				font-weight normal
				width 20px
				height 20px
				line-height 20px
				border-radius 50%
				background #18b290
				text-hide()
				margin-right 8px
				float left
				text-align center
				margin-left -20px
			a
				color #2b6cff
		.box
			width 92%
			height 460px
			background #fafafa
			box-shadow 0 5px 16px rgba(#9db9b3,.5)
			border 1px solid #18b279
			&.b41
				width 41%
				height 300px
			img
				public-img()
		.box2
			position relative
			width 92%
			overflow hidden
		i
			position absolute
			top 50%
			left 50%
			width 46px
			height 27px	
			margin-left -23px
			margin-top -13px
			img
				width 100%
	.public-box2
		position relative
		width 100%
		background #fff
		overflow hidden
		padding 15px 5% 80px
		.box
			float left
			width 290px
			margin-right 55px
			strong
				position relative
				font-size 15px
				color #363636
				font-weight normal
				line-height 1.4
				display block
				padding-left 10px
				margin-bottom 20px
				&:before
					content ""
					position absolute
					top 50%
					left 0
					width 2px
					height 10px
					background #18b298
					display block
					margin-top -5px
			.show
				width 100%
				height 320px
				border-radius 3px
				padding 15px
				border 1px solid #1ab279
				margin-bottom 35px
				textarea
					width 100%
					height 100%
					border none
					background none
					font-size 15px
					line-height 1.4
				label
					width 100%
					display block
					overflow hidden
					margin-bottom 15px
					cursor pointer
					span
						font-size 15px
						color #363636
						float left
						cursor pointer
					input
						background none
						border none
						line-height 20px
					input[type="text"]
						font-size 15px
						color #363636
						float left
						cursor pointer
					input[type="radio"]
						float right
						appearance none
						width 18px
						height 18px
						background url("../img/53489_18x18.png") no-repeat
						background-size 100%
						&::-ms-check
							display none
						&:checked
							background url("../img/38ff5_18x18.png") no-repeat
							background-size 100%
			button
				width 153px
				heightL(50px)
				text-align center
				color #fff
				border-radius 30px
				font-size 15px
				background #18b29a
				backgroundL(#18b29a,#18b27c,left)
				box-shadow 0 9px 16px rgba(#18b27d,.15)
				&:hover
					opacity .85
				&.b2
					background #fe9f10
					backgroundL(#fe9f10,#fe7d01,left)
					box-shadow 0 9px 16px rgba(#fe7f01,.15)
	.notice-box
		width 100%
		padding 40px 5% 130px
		.select-box
			width 100%
			overflow hidden
			margin-bottom 55px
			&.sb2
				ul
					li
						height 315px
						.text
							width 90%
							margin 0 auto
							border-bottom 1px solid #efefef
							margin-bottom 15px
							b
								margin-bottom 5px
						var
							width 85%
							font-size 17px
							color #848484
							line-height 1.4
							display block
							margin 0 auto 15px
							text-align left
							img
								width 13px
								height 9px
								float left
								margin-top 8px
								margin-right 20px
			ul
				margin-left -5.333%
				li
					position relative
					width 28%
					border-radius 10px
					text-align center
					border 2px solid #e7e8ea
					margin-left 5.333%
					cursor pointer	
					transition .3s
					&.acti
						border-color #ff8505
						box-shadow 0 5px 16px rgba(#e7e8ea,.11)		
				span
						position absolute
						top 0
						right 0
						font-size 15px
						color #fff
						background #ff6c00
						heightL(24px)
						padding 0 12px
						border-radius 0 5px 0 5px
					.text
						padding 20px 0
						line-height 1.4
						b
							font-size 30px
							color #ff6c00
							font-weight normal
							display block
						p
							font-size 17px
							color #000
		label
			width 40%
			background #fff
			border-radius 10px
			padding 15px 10%
			box-shadow 0 5px 16px rgba(#ff6c00,.11)
			span
				font-size 16px
				color #1f1f1f
				line-height 20px
				float left
				img
					width 21px
					height 21px
					margin-right 10px
			input
				float right
				appearance none
				width 18px
				height 18px
				border-radius 50%
				border none
				background url("../img/af98c_18x18.png") no-repeat
				background-size 100%
				&::-ms-check
					display none
				&:checked
					background url("../img/e4f89_18x18.png") no-repeat
					background-size 100%
		button
			font-size 15px
			color #fff
			border-radius 30px
			text-align center
			display block
			width 315px
			heightL(50px)
			margin 50px auto 15px
			backgroundL(#ff9e0f,#fe7e01,left)
			clear both
			box-shadow 0 11px 16px rgba(#fe8b00,.33)
			&:hover
				opacity .85
		p
			text-align center
			font-size 13px
			color #848484
			line-height 1.3
			a
				color #fe7a00
				&:hover
					text-decoration underline
	.verific
		width 100%
		padding 25px 5% 110px
		.text
			margin-bottom 30px
			strong	
				position relative
				font-size 15px
				color #363636
				font-weight normal
				line-height 1.4
				display block
				padding-left 10px
				margin-bottom 20px
				&:before
					content ""
					position absolute
					top 50%
					left 0
					width 2px
					height 10px
					background #18b298
					display block
					margin-top -5px	
			p
				font-size 15px
				color #848484
				line-height 1.6
				span
					text-decoration underline
					color #363636
				a
					color #2b6cff
		.ver-tabs
			width 100%
			heightL(54px)
			background #fff
			span
				font-size 15px
				color #848484
				float left
				text-align center
				padding 0 50px
				cursor pointer
				border-right 1px solid #f0efef
				&.acti
					color #fff
					backgroundL(#18b29a,#18b27a,top)
		.ver-item
			width 100%
			margin-bottom 30px
			border 1px solid #18b29b
			box-shadow 0 2px 11px rgba(#d3d3d3,.26)
			.pic
				width 100%
				height 180px
				overflow hidden
				img
					public-img()
		em
			font-size 15px
			color #ff5b20
			line-height 20px
			display block
			background url("../img/2ea42_18x18.png") left top no-repeat
			padding-left 25px
	.verific2
		width 100%
		min-height 700px
		padding 25px 5% 110px
		.text
			margin-bottom 30px
			strong	
				position relative
				font-size 15px
				color #363636
				font-weight normal
				line-height 1.4
				display block
				padding-left 10px
				margin-bottom 20px
				&:before
					content ""
					position absolute
					top 50%
					left 0
					width 2px
					height 10px
					background #18b298
					display block
					margin-top -5px	
			textarea
				width 80%
				height 88px
				border-radius 5px
				padding 10px 15px
				font-size 15px
				appearance none
				box-shadow 0 2px 11px rgba(#d3d3d3,.26)
				display block
				margin-bottom 20px
				border 1px solid #18b296
			p
				font-size 15px
				color #848484
				line-height 1.6
			span
				font-size 15px
				color #7d8b9e
				line-height 20px
				display inline-block
				margin-right 90px
				margin-bottom 15px
	.record-form
		width 100%
		padding 30px 3%
		table
			width 100%
			border-collapse collapse
			tr
				width 100%
				border-bottom 1px solid #f5f5f5
				text-align center
				td
					padding 20px 10px
					line-height 1.4
					span
						font-size 15px
						color #7d8b9e
						img
							width 16px
							height 16px
							margin-right 3px
					i
						cursor pointer
						color #2b6cff
						&:hover
							text-decoration underline
	.tips-box
		width 100%
		padding 30px 4%
		strong
			font-size 15px
			color #363636
			line-height 1.6
			font-weight normal
			display block
			margin-bottom 30px
		p
			font-size 15px
			color #848484
			line-height 1.8
	.member-info
		width 100%
		padding 0 3%
		overflow hidden
		ul
			li
				width 100%
				padding 20px 0
				border-bottom 1px solid #f5f5f5
				line-height 1.4
				span
					position relative
					font-size 15px
					color #363636
					width 105px
					float left
					text-hide()
					padding-left 15px
					&:before
						content ""
						position absolute
						top 50%
						left 0
						width 2px
						height 10px
						background #18b29c
						display block
						margin-top -5px
				p
					float right
					width calc(100% - 108px)
					font-size 15px
					color #7d8b9e
					img
						width 16px
						height 16px
						margin-right 3px
					a
						color #2b6cff
						&:hover
							text-decoration underline
	.login-log
		width 100%
		padding 0 3%
		overflow hidden
		ul
			li
				width 100%
				padding 15px 0
				border-bottom 1px solid #f5f5f5
				line-height 1.4
				span
					width 50%
					float left
					font-size 15px
					color #7d8b9e
					padding-right 10px
					text-hide()
	.blacklist-box
		width 100%
		padding 25px 3% 
		.top
			margin-bottom 40px
			strong			
				position relative
				font-size 15px
				color #1ab279
				font-weight normal
				line-height 1.4
				padding-left 15px
				display block
				margin-bottom 15px
				&:before
					content ""
					position absolute
					top 50%
					left 0
					width 2px
					height 10px
					background #18b28f
					margin-top -5px
			input
				appearance none
				width 100%
				height 40px
				border-radius 5px
				font-size 15px
				padding-left 12px
				border 1px solid #1ab279
				&::-webkit-input-placeholder  
					color #cbcbcb
				&:-moz-placeholder 
					color #cbcbcb
				&::-moz-placeholder 
					color #cbcbcb
		ul
			margin-left -4%
			li
				width 21%
				margin-left 4%
				margin-bottom 20px
				strong
					position relative
					font-size 15px
					color #363636
					font-weight normal
					line-height 1.4
					padding-left 15px
					display block
					margin-bottom 15px
					text-hide()
					&:before
						content ""
						position absolute
						top 50%
						left 0
						width 2px
						height 10px
						background #18b28f
						margin-top -5px
				textarea
					appearance none
					width 100%
					height 420px
					border-radius 5px
					padding 12px
					line-height 1.4
					font-size 15px
					display block
					border 1px solid #ededed
					&::-webkit-input-placeholder  
						color #cbcbcb
					&:-moz-placeholder 
						color #cbcbcb
					&::-moz-placeholder 
						color #cbcbcb
		button
			font-size 17px
			color #fff
			border-radius 30px
			text-align center
			display block
			width 154px
			heightL(42px)
			backgroundL(#18b298,#18b278,top)
			&:hover
				opacity .85
	.trou-log
		width 100%
		padding 30px 3%
		margin-bottom 30px
		table
			width 100%
			border-collapse collapse
			tr
				width 100%
				border-bottom 1px solid #f5f5f5
				&:first-child
					td
						padding 12px 5px
				td
					min-width 80px
					padding 20px 5px
					line-height 1.4
					font-size 15px
					color #1f1f1f
					span
						color #7d8b9e
						img
							width 16px
							height 16px
							margin-right 3px
					var
						color #2b6cff
						display block
					i
						color #ff5b20
					del
						
						color #929dad
						padding-right 20px
					em
						width 20px
						height 20px
						display inline-block
						cursor pointer
						background url("../img/a888c_32x32.png") no-repeat
						background-size 100%
	.sub-account
		width 100%
		padding 0 2%
		margin-bottom 30px
		.top
			width 100%
			padding 15px 0
			font-size 15px
			line-height 26px
			overflow hidden
			button
				float left
				heightL(26px)
				color #fff
				border-radius 30px
				padding 0 20px
				background #18b29b
				backgroundL(#18b29b,#18b278,top)
				&:hover
					opacity .85
			a
				color #2b6cff
				float right
				&:hover
					text-decoration underline
			span
				color #ff5b20
				float right
				margin-right 20px
				background url("../img/eb2f4_18x18.png") left 3px no-repeat
				padding-left 25px
		table
			width 100%
			border-collapse collapse
			tr
				width 100%
				border-bottom 1px solid #f5f5f5
				&:first-child
					background #f3f6fb
					td
						padding 8px 3px
				td
					line-height 1.4
					padding 12px 3px
					font-size 15px
					color #848484
					span
						color #1f1f1f
					var
						cursor pointer
						&:hover
							text-decoration underline
	.integral-form
		width 100%
		padding 20px 3%
		table
			width 100%
			border-collapse collapse
			tr
				width 100%
				border-bottom 1px solid #f5f5f5
				&:first-child
					td
						padding 10px 0
				td
					font-size 15px
					padding 15px 0
					color #7d8b9e
					line-height 1.4
					float left
					&:first-child
						width 85%
						padding-right 10px
					&:last-child
						width 15%
						float right
					a
						color #2b6cff
						&:hover
							text-decoration underline
					span
						color #1f1f1f
	.evaluation-box
		width 100%
		padding 0 2%
		.top
			width 100%
			padding 25px 0
			overflow hidden
			span
				line-height 28px
				font-size 15px
				color #676a6c
				float left
				margin-right 30px
				select
					appearance none
					width 70px
					height 28px
					font-size 15px
					color #8f9bab
					margin 0 2px
					text-align-last center
					border 1px solid #ededed
				input
					width 230px
					height 28px
					font-size 15px
					text-indent 10px
					border 1px solid #ededed
					background url("../img/eb64b_16x16.png") 96% center no-repeat
			var
				float right
				heightL(26px)
				font-size 15px
				color #fff
				border-radius 30px
				padding 0 20px
				cursor pointer
				margin 0 5px
				&:hover
					opacity .85
				&.v_del
					background #22be78
					backgroundL(#22be78,#07be92,top)
				&.v_all
					background #ff802c
					backgroundL(#ff802c,#ff4009,top)
		.box
			margin-bottom 110px
			table
				width 100%
				border-collapse collapse
				tr
					width 100%
					border-bottom 1px solid #f5f5f5
					&:first-child
						td
							padding 10px 15px
							background #f3f6fb
							text-align left
					td
						padding 15px
						line-height 1.4
						font-size 15px
						color #848484
						text-align center
						span
							color #1f1f1f
	.promotion-case
		width 100%
		padding 15px 3%
		p
			line-height 1.4
			padding 5px 0
			font-size 15px
			color #848484
			span
				color #ff5b20
		textarea
			appearance none
			width 100%
			height 135px
			border-radius 3px
			color #7d8b9e
			font-size 15px
			padding 10px 15px
			line-height 1.4
			border 1px solid #18b296
			display block
			margin-bottom 12px
		button
			heightL(42px)
			font-size 15px
			color #fff
			border-radius 30px
			padding 0 25px
			cursor pointer
			background #18b299
			backgroundL(#18b299,#18b279,top)
			&:hover
				opacity .85
	.password-box
		width 100%
		padding 25px 3%
		ul
			li
				width 100%
				margin-bottom 20px
				font-size 15px
				color #363636
				line-height 40px
				input
					appearance none
					width 270px
					height 40px
					line-height 1
					text-indent 10px
					font-size 15px
					border-radius 3px
					border 1px solid #ededed
		input[type="submit"]		
			heightL(44px)
			color #fff
			border-radius 30px
			padding 0 40px
			font-size 15px
			display inline-block
			background #18b29a
			margin-left 80px
			cursor pointer
			backgroundL(#18b29a,#18b279,top)
			&:hover
				opacity .85
	.rule-text
		width 100%
		padding 25px 3% 130px
		font-size 15px
		line-height 1.6
		strong
			color #848484
			font-weight normal
			display block
			margin-bottom 40px
		p
			color #ff5b20
			&.mb
				margin-bottom 40px	
	.rule-box
		width 100%
		padding 30px 3% 600px
		table
			width 100%
			border-collapse collapse
			tr
				width 100%
				border-bottom 1px solid #f5f5f5
				&:first-child
					td
						padding 8px 10px
				td
					padding 20px 10px
					font-size 15px
					color #7d8b9e
					line-height 1.4
					span
						color #1f1f1f
	.batch-sech
		width 100%
		padding 30px 4%
		strong	
			position relative
			font-size 15px
			color #363636
			font-weight normal
			line-height 1.4
			display block
			padding-left 10px
			margin-bottom 20px
			&:before
				content ""
				position absolute
				top 12px
				left 0
				width 2px
				height 10px
				background #18b298
				display block
				margin-top -5px	
		.top
			margin-bottom 80px
			p
				font-size 14px
				color #656565
				line-height 1.7
				padding-left 42px
				&:first-of-type
					padding-left 0
				span
					color #ff6229
				a
					color #3d72f9
					&:hover
						text-decoration underline
			var
				position relative
				width 153px
				heightL(50px)
				border-radius 30px
				text-align center
				color #fff
				font-size 15px
				background #18b29b
				display block
				box-shadow 0 9px 16px rgba(#18b27d,.15)
				backgroundL(#18b29b,#18b27c,left)
				cursor pointer
				margin-top 30px
				&:hover
					opacity .85
				input
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					opacity 0
					cursor pointer
		.bottom-box
			textarea
				appearance none
				width 54%
				height 350px
				border-radius 3px
				padding 10px
				font-size 14px
				line-height 1.4
				border 1px solid #1ab279
				display block
				margin-bottom 25px
				&::-webkit-input-placeholder  
					color #cbcbcb
				&:-moz-placeholder 
					color #cbcbcb
				&::-moz-placeholder 
					color #cbcbcb
			button
				position relative
				width 153px
				heightL(50px)
				border-radius 30px
				text-align center
				color #fff
				font-size 15px
				background #ffa010
				display block
				box-shadow 0 9px 16px rgba(#fe7f01,.15)
				backgroundL(#ffa010,#fe7d01,left)
				cursor pointer
				margin-top 30px
				&:hover
					opacity .85
	.report-form
		width 100%
		padding 22px 2%
		overflow hidden
		.pict
			width 168px
			float right
			.pic
				width 100%
				height 170px
				background #f5f5f4
				border-radius 10px
				overflow hidden
				border 1px dashed #e1dfe0
				margin-bottom 12px
				img
					public-img()
			button
				width 75px
				heightL(26px)
				background #e5e5e5
				border-radius 5px
				text-align center
				font-size 15px
				color #666
		.box
			width 100%
			overflow hidden
			margin-bottom 18px	
			&.b1
				width 79%
				float left
				input
					width 85%
			&.b2
				width 48%
				input
					width 75%
			span
				width 120px
				font-size 15px
				color #363636
				line-height 40px
				float left
				text-hide()
				i
					color #ff5b20
					margin-right 3px
				&.s1
					color #1ab279
			input
				appearance none
				width 88%
				height 40px
				border-radius 5px
				text-indent 10px
				font-size 15px
				border 1px solid #ededed
				float right
				&::-webkit-input-placeholder  
					color #cbcbcb
				&:-moz-placeholder 
					color #cbcbcb
				&::-moz-placeholder 
					color #cbcbcb
			.tabs-right
				width 85%
				float right
				margin-top 5px
				var
					height 30px
					line-height 30px
					border-radius 30px
					padding 0 12px
					font-size 14px
					color #666d81
					float left
					border 1px solid #ededed
					margin-left 10px
					margin-bottom 5px
					cursor pointer
					transition .3s
					&:hover
						border-color #18b29d
						color #fff
						background #18b29d
						backgroundL(#18b29d,#18b279,top)
					&.acti
						border-color #18b29d
						color #fff
						background #18b29d
						backgroundL(#18b29d,#18b279,top)
					&:first-child
						margin-left 0
			.tbas-bo
				width calc(100% - 120px)
				height 40px
				border-radius 5px
				text-indent 10px
				font-size 15px
				padding 5px 12px 0 0
				border 1px solid #1ab279
				float right	
				cursor pointer
				em
					height 30px
					padding-left 10px
					font-size 14px
					color #666d81
					border-radius 30px
					border 1px solid #ededed
					float left
					line-height 30px
					margin-left 10px
					i
						float right
						width 26px
						height 7px
						margin-top 11px
						cursor pointer
						background url("../img/afa25_7x7.png") 48% center no-repeat	
			.jl-box
				width 88%
				float right
				.top
					width 100%
					background #fff
					padding 18px 0
					overflow hidden
					box-shadow 0 5px 27px rgba(#bdc6c3,.28)
					display none
					var
						height 30px
						line-height 30px
						border-radius 30px
						padding 0 12px
						font-size 14px
						color #666d81
						float left
						border 1px solid #ededed
						margin-left 10px
						margin-bottom 5px
						cursor pointer
						transition .3s
						&:hover
							border-color #18b29d
							color #fff
							background #18b29d
							backgroundL(#18b29d,#18b279,top)
						&.acti
							border-color #18b29d
							color #fff
							background #18b29d
							backgroundL(#18b29d,#18b279,top)
				textarea
					appearance none
					width 100%
					height 220px
					border-radius 5px
					border 1px solid #ededed
					background none
					padding 10px
					font-size 15px
					line-height 1.4
					margin-bottom 20px
				button
					width 154px
					heightL(44px)
					font-size 17px
					color #fff
					border-radius 30px
					text-align center
					display block
					background #18b299
					margin-bottom 15px
					backgroundL(#18b299,#18b278,top)
					&:hover
						opacity .85
				p
					font-size 15px
					color #7d8b9e
					line-height 1.6
	.tabs-vip
		width 100%
		heightL(54px)
		background #fff
		border-bottom 1px solid #efefef
		span
			font-size 15px
			color #848484
			float left
			text-align center
			padding 0 50px
			cursor pointer
			border-right 1px solid #efefef
			&.acti
				color #fff
				backgroundL(#18b29a,#18b27a,top)
	.tq-box
		width 100%
		padding 0 3%
		overflow hidden
		b	
			font-size 25px
			color #1f1f1f
			text-align center
			font-weight normal
			display block
			line-height 1.4
			margin 55px 0			
		.box
			ul
				li
					width 25%
					text-align center
					padding 0 5px
					margin-bottom 80px
					.pic
						width 100%
						height 135px
						display table
						i
							width 100%
							height 135px
							display table-cell
							vertical-align middle
					.text
						width 100%
						line-height 1.4
						strong			
							font-size 17px
							color #1f1f1f
							font-weight normal
							display block
							text-hide()
							margin-bottom 10px	
						p
							font-size 14px
							color #848484
							height 57px
							db-text(3)
	.vip-form
		table
			width 100%
			border-collapse collapse
			tr
				width 100%
				text-align center
				&:first-child
					border-bottom 1px solid #f5f5f5
					td
						padding 12px 10px
				td
					padding 20px 10px
					line-height 1.4
					font-size 15px
					color #7d8b9e
					span
						color #1f1f1f
	.dh-vip
		width 95%
		padding 40px 0
		margin 0 auto
		overflow hidden
		border-bottom 1px solid #efefef
		a
			width 50%
			height 143px
			overflow hidden
			border-radius 5px
			img
				public-img()
			
			
					
.public-title3
	width 100%
	heightL(54px)
	font-size 17px
	color #fff
	padding 0 3%
	background #18b29b
	backgroundL(#18b29b,#18b279,top)
	var
		font-size 15px

.sm-text
		color #fff
		line-height 1.6
		width 50%
		padding-top 100px
		margin-bottom 60px
		h2
			position relative
			font-weight normal
			font-size 40px
			margin-bottom 25px
			&:before
				content ""
				position absolute
				bottom -15px
				left 0
				width 35px
				height 3px
				background #fff
		h3
			font-weight normal
			font-size 30px
			margin-bottom 15px
		p
			font-size 18px

.dj-list
	width 100%
	overflow hidden
	padding 0 18% 140px
	ul
		margin-left -2.333%
		li
			width 31%
			height 580px
			border-radius 5px
			background #fff
			overflow hidden
			margin-left 2.333%
			padding 0 25px 25px
			box-shadow 0 5px 49px rgba(#37d1b6,.32)
			i
				width 33px
				height 32px
				display block
				margin 70px 0 30px
				&.i2
					width 38px
					height 36px
				&.i3
					width 33px
					height 37px
				img
					width 100%
			strong
				font-size 25px
				color #3d4551
				line-height 1.4
				font-weight normal
				display block
				margin-bottom 30px
			p
				font-size 17px
				color #696969
				line-height 1.6

.path
	&.ph2
		color #ababab
		a
			color #ababab

.article
	&.bn
		box-shadow none
		
.article-list
	ul
		li
			width 100%
			background #fff
			line-height 1.6
			margin-bottom 11px
			box-shadow 0 5px 27px rgba(#767676,.07)
			transition .3s
			&:hover
				strong
					color #ff7d00
			a
				width 100%
				height 100%
				display block
				padding 15px 20px
				overflow hidden
			strong
				width 85%
				font-size 15px
				color #363636
				font-weight normal
				float left
				transition .3s
			p
				width 85%
				font-size 13px
				color #ababab
				float left
			span
				float right
				font-size 13px
				color #ababab
				margin-top -20px
				
.bg5
	background url("../img/5c2f3_564x445.png") -160px 1200px no-repeat,
	url("../img/d7846_308x243.png") 1300px 600px no-repeat

/*0330*/

.bg6
	background #f3f5f3

.registered
	position absolute
	top 50%
	left 50%
	width 520px
	background #fff
	border-radius 8px
	padding 30px 5% 80px
	box-shadow 0 3px 32px rgba(#c9d5cb,.32)
	transform translate(-50%,-50%)
	h1
		text-align center
		line-height 1.4
		font-size 20px
		color #686868
		font-weight normal
		margin-bottom 40px
	.em_back
		position absolute
		right 0
		top 0
		width 44px
		height 44px
		background url("../img/8868f_44x44.png") no-repeat
		transform translate(50%,-50%)
		cursor pointer
		&:hover
			opacity .85
	ul
		width 100%
		overflow hidden
		li
			width 100%
			border-bottom 1px solid #8ee7c7
			margin-bottom 25px
			padding-bottom 8px
			input
				width 100%
				background none
				border none
				line-height 1.4
				font-size 15px
				&::-moz-placeholder
					color #959696
				&:-ms-input-placeholder
					color #959696
				&.in1
					width 50%
					float left
			span
				float right
				font-size 15px
				color #41c99b
	p
		text-align center
		padding 35px 0 20px
		button
			heightL(40px)
			width 120px
			border-radius 30px
			text-align center
			color #fff
			font-size 15px
			background #44ce9f
			backgroundL(#41c99b,#44ce9f,top)
			margin 0 8px
			display inline-block
			box-shadow 0 3px 3px rgba(#41c99b,.17)
			&:hover
				opacity .85
		span
			font-size 15px
			color #686868
			a
				color #41c99b
				&:hover
					text-decoration underline
	var
		line-height 1.4
		display block
		text-align center
		a
			color #959696
			font-size 14px
			&:hover
				text-decoration underline

.landing
	position absolute
	top 50%
	left 50%
	width 520px
	background #fff
	border-radius 8px
	padding 50px 6%
	box-shadow 0 3px 32px rgba(#c9d5cb,.32)
	transform translate(-50%,-50%)
	.land-tbas
		width 100%
		border-bottom 1px solid #dbf8ee
		heightL(44px)
		margin-bottom 50px
		span
			position relative
			width 50%
			float left
			text-align center
			font-size 15px
			color #686868
			text-hide()
			cursor pointer
			&.acti
				color #41c99b
				&:before
					content ""
					position absolute
					bottom 0
					left 0
					width 100%
					height 2px
					background #43cc9e
					display block
	.em_back
		position absolute
		right 0
		top 0
		width 44px
		height 44px
		background url("../img/8868f_44x44.png") no-repeat
		transform translate(50%,-50%)
		cursor pointer
		&:hover
			opacity .85
	.box
		ul
			width 100%
			overflow hidden
			li
				width 100%
				border-bottom 1px solid #8ee7c7
				margin-bottom 30px
				padding-bottom 5px
				input
					width 100%
					background none
					border none
					line-height 1.4
					font-size 15px
					&::-moz-placeholder
						color #959696
					&:-ms-input-placeholder
						color #959696
					&.in1
						width 60%
						float left
				span
					float right
					font-size 15px
					color #41c99b
					a
						color #41c99b
		p
			text-align center
			padding 20px 0 20px
			button
				heightL(40px)
				width 120px
				border-radius 30px
				text-align center
				color #fff
				font-size 15px
				background #44ce9f
				backgroundL(#41c99b,#44ce9f,top)
				margin 0 8px
				display inline-block
				box-shadow 0 3px 3px rgba(#41c99b,.17)
				&:hover
					opacity .85
			span
				font-size 15px
				color #686868
				a
					color #41c99b
					&:hover
						text-decoration underline
	.wechat-pic
		width 224px
		height 227px
		margin 0 auto 20px
	.p1
		color #686868
		font-size 15px
		padding 5px 0
		line-height 1.4
		a
			color #41c99b
			
.pup2
	position absolute
	top 50%
	left 50%
	width 520px
	background #fff
	border-radius 8px
	padding 30px 3% 80px
	box-shadow 0 3px 32px rgba(#c9d5cb,.32)
	transform translate(-50%,-50%)
	.pic
		width 100%
		max-height 280px
		overflow hidden
		margin 0 auto 30px
		img
			width 100%
	.em_back
		position absolute
		right 0
		top 0
		width 44px
		height 44px
		background url("../img/8868f_44x44.png") no-repeat
		transform translate(50%,-50%)
		cursor pointer
		&:hover
			opacity .85
	.text
		width 100%
		line-height 1.6
		text-align center
		strong
			font-size 20px
			color #fe8e21
			font-weight normal
			display block
			margin-bottom 10px
			&.st1
				color #41c99c
		p
			font-size 15px
			color #959696
			margin-bottom 50px
		a
			&.a1
				width 172px
				heightL(40px)
				font-size 15px
				color #fff
				text-align center
				border-radius 30px
				display inline-block
				background #45cea0
				backgroundL(#41c99b,#45cea0,top)
				box-shadow 0 3px 3px rgba(#41c99b,.17)
				&:hover
					opacity .85
			img
				width 13px
				height 9px
				margin-left 5px
				margin-top -5px
		var
			width 100%
			line-height 1.4
			display block
			padding 8px 0
			a
				font-size 15px
				color #41c99c
	.bind-wechat
		text-align center
		padding-top 50px
		strong
			font-size 20px
			color #41c99b
			font-weight normal
			line-height 1.6
			margin-bottom 40px
			display block
		img
			width 244px
			height 227px
			display block
			margin 0 auto 50px
		a
			padding 0 60px
			heightL(40px)
			font-size 15px
			color #fff
			text-align center
			border-radius 30px
			display inline-block
			background #45cea0
			backgroundL(#41c99b,#45cea0,top)
			box-shadow 0 3px 3px rgba(#41c99b,.17)
			&:hover
				opacity .85
@media screen and (max-width: 1680px)
	.dj-list
		padding 0 10% 140px
@media screen and (max-width: 1350px)
	.wid4
		width 100%
		padding-left 3%
		padding-right 3%
	.content-box
		.big-box
			.updata-box
				ul
					li
						p:before
							left -24px
			.report-form
				.box
					input
						width calc(100% - 120px)
					&.b1
						input
							width calc(100% - 120px)
					.tabs-right
						width calc(100% - 120px)
						var
							margin-bottom 10px
						
	.dj-list
		padding 0 5% 140px
@media screen and (max-width: 1260px)
	.header
		padding 0 1%
	.vip
		display none
	.integral
		display none
@media screen and (max-width: 1200px)
	.wid
		width 100%
		padding-left 3%
		padding-right 3%
	.wid2
		width 100%
		padding-left 3%
		padding-right 3%
	.wid3
		width 100%
		padding-left 3%
		padding-right 3%
	.pup
		.box
			i
				&.prev
					left -40px
				&.next
					right -40px
	.method-box
		.swiper-button-next
			right -20px
		.swiper-button-prev
			left -20px
	.down-box
		.pic
			width 45%
		.text
			width 52%
	.content-box
		.big-box
			.updata-box
				ul
					li
						p:before
							left -22px	
			.report-form
				.box
					&.b1
						width 75%
	.sidebar-box
		.box
			.title
				padding-left 23%
	.dj-list
		padding 0 3% 140px
@media screen and (max-width: 1050px)
	.sech-box
		.form
			width 100%
	.wid2
		.sech-box
			.form
				width 80% !important
	.right-content
		.exper
			.left
				width 74%	
	.updata-box
		width 100% !important
		.box
			ul
				li
					p
						&:before
							left -20px !important
	.sidebar-box
		.box
			.title
				padding-left 28%
	.content-box
		.public-box2
			.box
				margin-right 15px
				.show
					width 260px
		.public-top
			strong
				var
					font-size 12px
@media screen and (max-width: 992px)
	.news-books
		span
			width 60%
	.wid3
		.sech-box
			.form
				width 100%
	.list-box
		.box
			.bottom-info
				padding-right 5%
				padding-left 5%
	.sech-box
		p
			padding 0
	.sech-box
		.form
			form
				width 63%
	.article
		.title
			padding-right 15px
			padding-left 15px
			h2
				font-size 20px
			em
				width 80%
	.wid2
		.sech-box
			.form
				width 96% !important
	.right-content
		.exper
			width 96%
			.pics
				width 110px
				height 110px
				background-size 100%
	.sidebar-people
		.top-box
			.btns
				width 80%
				margin 0 auto
				a
					width 100%
					display block
					margin 0 auto 10px
					margin-left 0 !important
					margin-right 0 !important
					float none !important
					img
						margin-right 10px
	.tj-pic
		width 100%
		.box
			background-size 100% 100% !important
			strong
				margin-bottom 15px
			p
				font-size 16px
	.method-box
		.box
			width 90%
			margin 0 auto
			img
				width 100%
			.swiper-button-next
				right -50px
			.swiper-button-prev
				left -50px
	.down-box
		.text
			b
				font-size 30px
			ul
				li
					var
						font-size 14px
	.content-box
		.evaluation-box
			.top
				span
					margin-bottom 10px
					input
						width 300px
		.tq-box
			.box
				ul 
					li
						width 33.333%
						margin-bottom 30px
		.report-form
				.box
					&.b1
						width 65% !important
					input
						font-size 14px
		.notice-box
			label
				padding-right 5%
				padding-left 5%
	.dj-list
		ul
			li
				i
					margin-top 30px
				strong
					margin-bottom 15px
	.select-box
		&.sb2
			ul
				li
					var
						font-size 14px !important
@media screen and (max-width: 750px)
	.wid3
		.sech-box
			.form
				text-align center
				form
					width 100%
					margin-bottom 15px
					input
						height 40px !important
						line-height 1 !important
				a
					height 36px !important
					line-height 36px !important
					float none
					display inline-block
	.sech-box
		.form
			text-align center
			form
				width 100%
				margin-bottom 15px
				input
					height 40px !important
					line-height 1 !important
			a
				height 36px !important
				line-height 36px !important
				float none
				display inline-block
	.wid2
		.sech-box
			.form
				text-align center
				form
					width 100%
					margin-bottom 15px
					input
						height 40px !important
						line-height 1
						appearance none
						
				a
					height 36px !important
					line-height 36px !important
					float none
					display inline-block
	.list-box
		.box
			.people-info
				padding 15px 10px
				.pic
					margin-bottom 10px
				ul
					width 100%
					li
						width 100%
						padding-left 0
						margin-bottom 5px
			.bottom-info
				width 100%
				padding 10px
				.box2
					ul
						width 100%
						margin-bottom 10px
					strong
						margin-left 0
	.paga
		a
			heightL(30px)
			padding 0 10px
			margin 0 3px 10px
	.sidebar
		display none
	.article
		width 100%
		.title
			margin-bottom 10px
			em
				width 100%
				display block
				word-break break-all
				margin-bottom 10px
	.sidebar-paga
		padding-right 10px
		padding-left 10px
		ul
			li
				width 100%
				margin-bottom 10px
	.sidebar-people
		width 100%
		height auto !important
		min-height 600px !important
		margin-bottom 15px
		.top-box
			.btns
				a
					heightL(42px)
					font-size 15px
					img
						margin-top -2px
	.right-content
		width 100%
		.add-jl
			.top
				span
					display none
		.exper
			width 94%
			.left
				width 100%
			.pics
				float left
		.people-label
			span
				width 100%
				display block
				margin-bottom 15px
			.right
				width 100%
				var
					margin-right 5px
		.bad-info
			.tabs
				span
					width 33.333%
					padding 0
					text-align center
					text-hide()
		.item-box
			.item
				.box2
					ul
						li
							p
								width 100%
								margin-bottom 15px
							.btns
								width 100%
								text-align left
								span
									margin-right 10px
	.pup
		.box
			width 92%
			margin-top 30px
			.left
				height 300px
				width 100%
				margin-bottom 15px
			.right
				height 300px
				width 100%
			i
				display none
			em
				transform translate(40%,-46%)
	.header
		margin-bottom 20px
		.psl-center
			margin-right 40px
		.nav
			position fixed
			z-index 11
			top 0
			left 0
			width 100%
			height 100%
			background rgba(#000,.5)
			margin-left 0
			padding-top 50px
			transform translateY(-100%)
			transition .3s
			&.active
				transform translateY(0)
			ul
				li
					width 100%
					text-align center
					a
						font-size 18px
					.drop-down
						position relative
						left 0
						width 100%
						background none
						box-shadow none
						a
							font-size 15px
							color #fff
							border-color rgba(#fff,.5)
							&:hover
								background none
		.mymsg
			display none
		.wap-menu
			position absolute
			right 12px
			top 35%
			z-index 11
			&.acti
				i
					&.i1
						top 5px
						transform rotate(45deg)
					&.i2
						display none
					&.i3
						top -3px
						transform rotate(-45deg)
			i
				position relative
				width 24px
				height 3px
				background #fff
				display block
				margin-bottom 5px
				transition .3s
	.up-box
		height auto
		padding-bottom 40px
		.up-text
			h2
				font-size 28px
				margin-bottom 15px
		.bottom-text
			overflow hidden
			span
				width 100%
				margin 0
				display block
	.news-tip
		height 80px
		.box
			height 40px
			line-height 40px
			width 100%
			margin-left 0
	.install-box
		.box
			ul 
				li
					width 100%
					padding-bottom 10px
	.news-buyer
		padding-bottom 30px
		.box-list
			ul
				margin-left 0
				li
					width 100%
					margin-bottom 10px
					margin-left 0
	.news-buyer
		.buyer-fx
			padding-top 30px
			h5
				color #363636
				margin-bottom 10px
			.two-box
				width 100%
				margin-bottom 15px
	.public-title
		b
			font-size 26px
	.alliance
		padding-bottom 30px
		.big-pic
			width 100%
			height auto
		.list
			width 100%
	.news-box
		.box
			width 100%
			margin-bottom 15px
	.idea
		padding 0 3%
		.box
			.text
				b
					font-size 26px
				p
					font-size 18px
	.footer
		p
			font-size 15px
		.link
			font-size 15px
			line-height 1.6
	.a_more
		display inline-block !important
	.a_loggin
		margin-right 50px !important
	.tj-pic
		height 538px
		.box
			height 513px
			background-size 100% 100% !important
	.conment-text
		.left
			width 100%
			margin-bottom 5px
	.down-box
		padding-top 30px
		.pic
			width 100%
			height auto
			margin-bottom 20px
		.text
			width 100%
			b
				font-size 24px
			ul
				li
					width 80%
					padding-left 12%
					&:nth-child(even)
						float left
	.install-show
		.box
			height auto
			.left
				width 100%
				height auto
				margin-bottom 15px
			.right
				width 100%
				min-height 354px
				height auto
	.public-title2
		b
			font-size 26px
		p
			font-size 14px
	.method-box
		height auto
		padding 30px 0
		.box
			width 100%
			height 200px
			margin-bottom 30px
			.swiper-button-next
				right 0
			.swiper-button-prev
				left 0
			img
				height 200px
	.updata-box
		padding-top 20px
		.public-title2
			margin-bottom 0
		.box
			padding-top 0
			&:after
				display none
			ul
				li
					.date
						width 100%
						text-align left
					&:after
						display none !important
					&:before
						display none !important
					p
						width 100%
						font-size 18px
						&:after
							display none !important	
	.content-box
		width 100%
		.big-box
			.updata-box
				padding 0 3%
				.box
					ul 
						li
							.date
								width 100% !important
							p
								width 100%
								&:before
									display none
			.verific
				padding 30px 3%
				.ver-tabs
					span
						width 50%
						padding 0
						text-hide()
			.verific2
				.text
					textarea
						width 100%
					span
						width 100%
						display block
			.record-form
				overflow-x scroll
				table
					min-width 700px
			.login-log
				ul
					li
						span
							width 100%
							margin-bottom 5px
			.blacklist-box
				ul
					margin-left 0
					li
						width 100%
						margin-left 0
						textarea
							height 150px
			.trou-log
				overflow-x scroll
				table
					min-width 700px
					tr
						text-align center
						td
							&:first-child
								text-align left
			.sub-account
				.top
					button
						float none
						margin-bottom 10px
					span
						float none
						display block
						margin-right 0
					a
						float none
						display block
				.box
					overflow-x scroll
					table
						min-width 1000px
			.integral-form
				table
					tr
						td
							&:first-child
								width 75%
							&:last-child
								width 25%
			.evaluation-box
				.top
					span
						width 100%
						margin-bottom 15px
						margin-right 0
						input
							width 200px
					var
						float left
				.box
					overflow-x scroll
					margin-bottom 50px
					table
						min-width 700px
			.promotion-case
				textarea
					height 220px
			.rule-text
				padding-bottom 0
				strong
					margin-bottom 15px
			.rule-box
				overflow-x scroll
				padding-bottom 30px
				table
					min-width 800px
			.batch-sech
				.top
					margin-bottom 30px
					p
						padding-left 0
						margin-bottom 10px
				.bottom-box
					textarea
						width 100%
			.tabs-vip
				span
					width 33.333%
					float left
					padding 0
					font-size 14px
			.vip-item
				.notice-box
					padding-bottom 0
				.tq-box
					b
						font-size 20px
						margin 30px 0
					.box
						ul
							li
								width 100%
								margin-bottom 0
								.pic
									height 100px
									i
										height 100px
				.vip-form
					overflow-x scroll
					table
						min-width 900px
				.dh-vip
					padding 15px 0
					a
						width 100%
						margin-bottom 15px
			.report-form
				.pict
					float left
					margin-bottom 15px
				.box
					width 100%
					span
						width 100%
					input
						width 100% !important
					&.b1
						width 100% !important
					.tabs-right
						width 100%
					.tbas-bo
						width 100%
					.jl-box
						width 100%
		.public-box
			strong
				b
					margin-left 0
			.box
				width 100%
				height 200px
				max-height 460px
				&.b41
					width 100%
					margin-bottom 15px
			.box2
				width 100%
				height auto
			i
				display none
		.public-box2
			padding-bottom 0
			.box
				.show
					margin-bottom 10px
				margin-bottom 15px
	.public-title3
		font-size 13px	
		var
			font-size 12px
	#sidebar-menu
		width 100%
		height 48px 
		display block
	.sidebar-box
		width 100%
		height 48px !important
		min-height 48px
		.box
			height 48px	!important
			overflow-x scroll
			-webkit-overflow-scrolling touch
			&::-webkit-scrollbar
				display none
			.title
				display none
			ul
				display flex
				overflow initial
				float left
				li
					width 50%
					flex-shrink 0
					border-right 1px solid #ededed
					&.lt
						display none
					a
						padding-left 3%
						padding-right 3%
						text-align center
						span
							float none
							display inline-block
	.sidebar-logo
		display none
	.notice-box
		.select-box
			overflow-x scroll !important
			-webkit-overflow-scrolling touch !important
			&.sb2
				margin-bottom 10px
			&::-webkit-scrollbar
				display none
			ul
				display flex !important
				margin-left -3% !important
				li
					width 65% !important
					flex-shrink 0 !important
					margin-left 3% !important
		label
			float none
			display block
			overflow hidden
			width 80% !important
			margin 0 auto 15px
	.sm-text
		width 100%
		padding-top 30px
	.dj-list
		overflow-x scroll
		-webkit-overflow-scrolling touch
		&::-webkit-scrollbar
			display none
		ul
			display flex
			margin-left -3%
			li
				width 94%
				height 500px
				flex-shrink 0
				margin-left 3%
	.article-list
		ul
			li
				strong
					width 100%
					display block
					float none
					margin-bottom 10px
				p
					width 100%
					float none
					margin-bottom 10px
				span
					width 100%
					float none
	.registered
		width 94%
		padding 15px 3% 30px
		.em_back
			transform translate(0,0) !important
	.pup2
		width 94%
		padding 15px 3% 30px
		.em_back
			transform translate(0,0) !important
	.landing
		width 94%
		padding 50px 3% 30px
		.em_back
			transform translate(0,0) !important